<div class="survey">
    
   <div class="container">
  
        <div class="row">
            <div class="col">

                <div class="content ">
                    <div class="survey__content">
                        <ng-template host-container></ng-template>
                    </div>
    
                    <div class="survey__actions w-100 d-flex justify-content-center">
                        <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Добавить новый вопрос</button>
                    </div>
                    <mat-menu #menu="matMenu">
                        <div>
                            <button mat-menu-item (click)="survey_1()">Радио кнопки</button>
                            <button mat-menu-item disabled>Поле комментарий</button>
                            <button mat-menu-item disabled>Флажки</button>
                        </div>
                    </mat-menu>
                </div>

            </div>
        </div>
        <button (click)="save()">Save</button>

    </div> 
    <div class="survey3333333">

        <!-- <app-view-congig></app-view-congig> -->
    </div>
</div>