<div class="wrapper">
    <div class="title"> title </div>
    <div class="content">

        <div class="content__col">
            <div>
                <p>Тип вопроса</p>
                <button mat-stroked-button (click)="survey_1()">Первый вариант +</button>
                <button mat-stroked-button disabled>Первый вариант +</button>
                <button mat-stroked-button disabled>Первый вариант +</button>
            </div>
    
            <br><br>
    
    
            <ng-template host-container></ng-template>
    
    
            <br>
            <button mat-stroked-button (click)="create()">Создать</button>
        </div>

        <div class="content__col content__col_black">
            <app-view-congig></app-view-congig>
        </div>

        

    </div>
    <div class="footer"> footer </div>
</div>