.survey {
    background: #e9ecf3;
    height: 100vh;
    padding-top: 40px;
}

.survey__content {
    margin-bottom: 40px;
}

.content {
    border: 1px solid #e7ecf1;
    padding: 12px 20px 15px;
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 4px;
}
.survey3333333 {
    border-top: 2px solid #a7a7a7;
    background: #6f6f6f42;
    height: 100%;
}