<div class="survey">
    <!-- <div class="title"> title </div> -->
    <div class="container">

        <!-- <div class="content__col"> -->
        <div class="row">
            <div class="col">

                <div class="content ">
                    <div class="survey__content">
                        <ng-template host-container></ng-template>
                        <!-- <app-field-one></app-field-one> -->
                    </div>
    
                    <div class="survey__actions w-100 d-flex justify-content-center">
                        <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Добавить новый вопрос</button>
                    </div>
                    <mat-menu #menu="matMenu">
                        <div>
                            <button mat-menu-item (click)="survey_1()">Варианты ответа</button>
                            <button mat-menu-item disabled>Поле комментарий</button>
                            <button mat-menu-item disabled>Флажки</button>
                        </div>
                    </mat-menu>
                </div>

            </div>
        </div>

    </div>
</div>