




<div class="field-radio">

  <ng-container *ngIf="edit">
    <form [formGroup]="form">
    
    
        <mat-form-field class="head">
          <mat-label>Введите вопрос</mat-label>
          <input matInput formControlName="ask">
        </mat-form-field>
    
      <div class="arr" formArrayName="arr">
        

        <div *ngFor="let item of arr.controls; let i=index">

          <div class="field-row">
            <!-- <mat-icon class="icon-checkbox" aria-hidden="false" aria-label="Example home icon">panorama_fish_eye</mat-icon> -->
            <mat-form-field class="">
              <mat-label>Oтветы {{i + 1}}</mat-label>
              <input matInput [formControlName]="i">
            </mat-form-field>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="removeField(i)">clear</mat-icon>
            </button>
          </div>
          <!-- <p>ответы {{i + 1}}</p>
          <input type="text" [formControlName]="i">
          <button (click)="removeField(i)">Удалить этот вариант</button> -->
        </div>


        <!-- <button (click)="add()">Добавить вариант</button> -->
        <div class="btn-add">

          <button mat-stroked-button (click)="done()" class="">Готово</button>
          <button mat-stroked-button (click)="add()" class="">Добавить новое поле</button>
        </div>
          
      </div>
    </form>
    <div>
      <!-- <button (click)="done()">Готово</button> -->
      
    </div>

  </ng-container>

  <ng-container *ngIf="!edit">


    <p class="text">{{form.controls.ask.value}}</p>

      <div class="preview" *ngFor="let item of arr.controls; let i=index">
        <mat-icon class="icon-checkbox" aria-hidden="false" aria-label="Example home icon">panorama_fish_eye</mat-icon>
        <span>{{item.value}}</span>
        <br>
      </div>

      <div class="actions">
        <button mat-stroked-button (click)="editCard()" class="">Изменить</button>
        <button mat-stroked-button (click)="delete()" class="">Удалить</button>
      </div>

  </ng-container>
  

</div>
