.field-radio{
    border: 1px solid #e7ecf1;
    border-radius: 4px;
}


.field-radio__title-preview {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

mat-icon {
    vertical-align: middle;
}


.field-radio_hover:hover {
    background-color: #00000008;
}
